.App {
  text-align: center;

  &-header {
    background-color: #302834;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &-status {
    font-size: 10px;

    &-layout, &-colors, &-tagline {
      margin-right: 10px;
    }
  }

  &-main {
    display: flex;
    flex-direction: row;
  }

  &-menu {
    background-color: rgb(232, 232, 201);
    min-width: 100px;
  }

  &-options {
    background-color: rgb(232, 232, 201);
    min-width: 230px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &-result {
    background-color: rgb(232, 232, 201);
    min-width: 230px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-title {
  font-weight: 700;
  color: #fb6185;
}

.App-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
